.section3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #355E3B;;
    color: white;
    padding-top: 30px;
}

.container-1{
    width: 50%;
    margin-left: 25%;
}
.container-2{
    width: 50%;
    margin-right: 25%;
}

.image{
    width: 93%;
    height: 340px;
}
.button1{
    border: 0;
}
.image2{
    width: 93%;
}